body{
    font-family: 'Oxygen', sans-serif;
   margin: 0G139;
}

.head-section{
  display: flex;
}
.wellcome-color{
    padding-top: 63px;
    text-align: center;
    font-weight: 900;
}
.wellcome-color b{
    color: red;
    font-size: 30px;
    font-style: oblique;

}
.wellcome-color span{
    color: rgb(0, 140, 255);
    font-size: 30px;
    font-size: 24px;
    font-style: italic;
    
    }
.wellcome-head{
    width: 50%;
    padding-left: 6%;

}
.wellcome-head img {
    width: 100%;
    padding-top: 30px;
}
.link-button{
    text-decoration: none;
    padding: 8px 40px;
    background-image: linear-gradient(red ,#f7de59);
    border-radius: 6px;
    color: #fff;
    margin: 30px;
    }
.well-bg{
    background-image: url(images/wellcome-bg.png);
    background-repeat: no-repeat;
}
.well-bg2{
    background-image: url(images/wellcome-bg2.png);
    background-repeat: no-repeat;
}
.head-deatils{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 26px;
}


/* /cokker  about */
.section-about{
   width: 100%;
   /* background:palegreen; */
   background-image: url(images/7.png);
   background-repeat: no-repeat;
   display: flex;
  
   
}
.cook-about{
 width: 100%;
 padding-left: 6%;
 padding-left: 7%;
 padding-right: 10%;
 margin-top: 33px;
 /* background-image: url(images/cook.png);
 background-repeat: no-repeat; */

    
}
.cook-about img{
    width: 116%;
    padding-left: 15px;
    padding-right: 30px;
   
       
   }
   .recipes-section{
       display: flex;
       width: 97%;
       margin-left: 3%;
       margin-right: 5%;
   }
  .recipes-head{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .recipes-head h2{
   color:#d06d46 ;
  }
  
   .recipes-item{
    width: 80%;
    box-shadow: 10px 10px 40px #d06d46;
    margin-left: 4px;
    margin-right: 4px;
    padding: 18px;
    border-radius: 7px;
   }
   .recipes-item img{
    width: 100%;
    border-radius: 7px;
   }
   
   .recipes-item h4{
    font-family: unset;
    font-style: italic;
   }
   .recipes-item p{
    font-size: 15px;
    line-height: 25px;
   }
   .recipes-item span a{
    text-decoration: none;
    font-style: italic;

}

.special-menu{
   
    padding: 30px;
}
.menu-head{
    text-align: center;
    margin-top: 70px;
   font: 1em sans-serif;
   font-style: italic;
  }
  .menu-head h2{
   color:#f05214 ;
  }
.menu-item{
    width: 100%;
    margin-top: 58px;
    margin-left: 100px;
    border-radius: 8px;
    margin-right: 65px;

}
.menu-item img{
    width: 100px;
    height: 101px;
    float: left;
    padding: 21px;
    border-radius: 68px;
}
.menu-item span{
    float: left;
}
.menu-item1{
    width: 100%;
    float: left;
    background-image: linear-gradient(to left,#44aff0,white );
    margin-top: 5px;
    border-radius: 7px;
    
}
.order-button{
    text-decoration: none;
    padding: 7px 6px;
    background-image: linear-gradient(red ,#f7de59);
    border-radius: 6px;
    color: #fff;
    font-size: 11px;
}
.footer-conner{
    text-align: center;
    background: #e8baa8;
    padding: 17px;
    margin-top: 63px;
    height: 80px;
    margin-bottom: 0;
}
.footer-conner span{
    color: red;
}
